{% load Groups %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!DOCTYPE HTML>
	<html>
		<head>
			<Title>Autograder</Title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		
		<body>
			<header>Autograder</header>
			
			<!-- Menu Navigation Bar -->
			<div class="menu"> 
				<a href="{% url 'home'%}">Home</a>
				
				{% if request.user|has_group:"Instructor" %}
					<a href="{% url 'projects'%}">Projects</a> 
					<a href="{% url 'Assign'%}">Assign</a>
					<a href="{% url 'assignments'%}">Assignments</a>
					<a href="{% url 'test'%}">Tests</a>
					<a href="{% url 'submit'%}">Submissions</a>
				{% endif %}
				
				{% if request.user|has_group:"Student" %}
					<a href="{% url 'projects'%}">Assignments</a> 
					<a href="{% url 'submit'%}">Submissions</a> 
				{% endif %}
					
				
				<div class="menu-log"> 
					{% if not user.is_authenticated %}
					<li><a href="{% url 'login'%}">LogIn</a></li>
					{% endif %}
					{% if user.is_authenticated %}
					<li><a href="{% url 'logout'%}">LogOut</a></li>
					{% endif %}
				</div> 
			</div>
			
			<!-- Holds the content of the page -->
			<article>
				{% block content %}{% endblock %}
			</article>
		</body>
	</html>